@CHARSET "UTF-8";
@import "smartcan.css";

#adverBoard_main{
	margin: 0 auto; width: 1500px;
}

#adverBoard_sub{
	margin-left:10px;
}

#adver_wrap{
	margin-top:50px;
	margin-left:280px;
}

#main_center {
	margin-bottom:30px;
}

#adver_board { 
	margin-left:300px;
	margin-bottom:40px;
	width:1000px; 
}
#search_form{
	margin-left:330px;
}
input#kwd {
    width: 250px;
}
input[type="text"] {
    padding: 5px;
    border: 1px solid #aaa;
}
h1, h4{

	margin-bottom:30px;
}

.tbl-ex		{
	width:95%;
	
	border-collapse:collapse;
	border-bottom:1px solid #c0c0c0;
	border-left:1px solid #c0c0c0;
	border-right:1px solid #c0c0c0
}

.tbl-ex th, 
.tbl-ex td	{ 
	padding:8px;
	text-align:center; 	 
}
	
.tbl-ex th	{ 
	border-top:1px solid #c0c0c0;
	border-bottom:1px solid #c0c0c0; 
	font-size:1.1em; 
	background-color:#00A5FF;
	color:#FFFFFF
}

.tbl-ex td {
	border-top:1px dotted #333;
	border-bottom:1px dotted #333; 
}

a.del	{
	display:block;
	width:20px;
	height:20px; 
	background:url("/smartcan/assets/images/adver/delete.png") no-repeat 0 0;
	font-size:0;
}

input[type="submit"] {
    padding: 5px;
    border: 1px solid #ffffff;
    background-color: #0080ff;
    font-weight: bold;
    color: #FFFFFF;
    font: 1.0em;
}

div.bottom {
	width:100; height:50px; margin:50px 50px;
}

div.bottom a { 
	text-decoration:none; dispaly:block;
}

a#new-book	 { 
	float:right; 
	padding:10px 20px 10px 20px ; 
	border:1px solid #555; 
	border-radius:5px;
	font-weight:bold; 
	background-color:#E8ECF6; 
	color:#111 
}

/*
	게시판 리스트 페이징
*/
div.pager {
	width:95%; text-align:center;
	margin-top:30px;
}
div.pager  ul {
	height:20px; margin:10px auto;
}
div.pager  ul li 			{ display:inline-block; margin:	10px 8px; width:20px ; font-weight:bold; }
div.pager  ul li.selected { text-decoration: underline; color:#f00 }
div.pager  ul li a,
div.pager  ul li a:visited,
div.pager  ul li a:link,
div.pager  ul li a:active { text-decoration: none; color:#ff8080 }
div.pager  ul li a:hover { text-decoration: none; color:#f00 }