@CHARSET "UTF-8";
@import "smartcan.css";

#highlight{
	margin-bottom:10px;
	font-weight:bold;
	font-size:1.5em;
}

#intro_main{
	margin: 0 auto; width: 1200px;
}
#about_wrap{
	float:left;
}
#intro_sub{
	margin-left:300px;
}

#brand_main{
margin-top : 50px;

}
#first_wrap{
	width:1500px;
	margin-top:30px;
	margin-left:150px;
	float:left;
}
#about_wrap{
	float:left;
}
#about_bottom{
	margin-top:50px;
	margin-bottom:50px;
}
#groce_wrap{
	float:left;
}
#fresh_wrap{
	float:left;
	margin-left:30px;
}
#month_average{
	float:left;
	margin-left:30px;
}
#daily_wrap{
	margin-top:30px;
	margin-left:150px;
}
#fresh_photo{
	margin-left:150px;
	margin-top:280px;
	margin-bottom:30px;
	float:left;
}
#daily_wrap{
	margin-left:150px;
	margin-bottom:30px;
	float:left;
}
#refresh_photo{
	margin-left:150px;
	margin-bottom:30px;
	float:left;
}