@CHARSET "UTF-8";
@import "smartcan.css";

/* 찾아오시는길 페이지*/
.container_map {margin: 0 auto; width: 1500px;}

.container_mapsub{
	margin-left:70px;
}

#store_header{
	margin-top:50px;
	margin-left:150px;
}

#store{margin:50px 60px;}

      
#txt_header{
	margin:20px 30px 40px 60px;
    text-align:left
    }
#mid_wrap{
	margin-left:310px;
}
html, body {width:100%;height:100%;margin:0;padding:0;} 
.map_wrap {
	position:relative;
	overflow:hidden;
	width:850px;height:400px;
	margin:10px 30px 30px 0;
	float:left;
	}
#map_txt{
	margin-top:170px;
}
.radius_border{border:1px solid #919191;border-radius:5px;}     
.custom_typecontrol {position:absolute;top:10px;right:10px;overflow:hidden;width:130px;height:30px;margin:0;padding:0;z-index:1;font-size:12px;font-family:'Malgun Gothic', '맑은 고딕', sans-serif;}
.custom_typecontrol span {display:block;width:65px;height:30px;float:left;text-align:center;line-height:30px;cursor:pointer;}
.custom_typecontrol .btn {background:#fff;background:linear-gradient(#fff,  #e6e6e6);}       
.custom_typecontrol .btn:hover {background:#f5f5f5;background:linear-gradient(#f5f5f5,#e3e3e3);}
.custom_typecontrol .btn:active {background:#e6e6e6;background:linear-gradient(#e6e6e6, #fff);}    
.custom_typecontrol .selected_btn {color:#fff;background:#425470;background:linear-gradient(#425470, #5b6d8a);}
.custom_typecontrol .selected_btn:hover {color:#fff;}   
.custom_zoomcontrol {position:absolute;top:50px;right:10px;width:36px;height:80px;overflow:hidden;z-index:1;background-color:#f5f5f5;} 
.custom_zoomcontrol span {display:block;width:36px;height:40px;text-align:center;cursor:pointer;}     
.custom_zoomcontrol span img {width:15px;height:15px;padding:12px 0;border:none;}             
.custom_zoomcontrol span:first-child{border-bottom:1px solid #bfbfbf;}   


#pan{
    padding: 5px;
    border: 1px solid #ffffff;
    background-color: #0080ff;
    font-weight: bold;
    color: #FFFFFF;
    font-family:NanumBarunGothic !important;
    font-size: 16px;
}
.subway{
	margin: 20px 0 50px 150px;
}