@CHARSET "UTF-8";
@IMPORT "smartcan.css";

#manage_wrap{
	margin: 0 auto; width: 1500px;
}


#tap_content {
    width: 800px;
    height:500px;
    margin: 50px auto;
}
ul.tabs {
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
    height: 32px;
    border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;
    width: 100%;
    font-size:18px;
}
ul.tabs li {
    float: left;
    text-align:center;
    cursor: pointer;
    width:82px;
    height: 31px;
    line-height: 31px;
    border: 1px solid #eee;
    border-left: none;
    font-weight: bold;
    background: #fafafa;
    overflow: hidden;
    position: relative;
}
ul.tabs li.active {
    background: #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
}
.tab_container {
    border: 1px solid #eee;
    border-top: none;
    clear: both;
    float: left;
    width: 800px;
    background: #FFFFFF;
}
.tab_content {
    padding: 30px;
    font-size: 16px;
    display: none;
}
.tab_container .tab_content ul {
    width:100%;
    margin:0px;
    padding:0px;
}
.tab_container .tab_content ul li {
    padding:5px;
    list-style:none
}

h4{

	margin-bottom:30px;
}

.tbl-ex		{
	width:95%;
	
	border-collapse:collapse;
	border-bottom:1px solid #c0c0c0;
	border-left:1px solid #c0c0c0;
	border-right:1px solid #c0c0c0
}

.tbl-ex th, 
.tbl-ex td	{ 
	padding:8px;
	text-align:center; 	 
}
	
.tbl-ex th	{ 
	border-top:1px solid #c0c0c0;
	border-bottom:1px solid #c0c0c0; 
	font-size:1.1em; 
	background-color:#00A5FF;
	color:#FFFFFF
}
