@CHARSET "UTF-8";
@import "gs25site.css";

/* 움직이는 메뉴바 */
.mymenu {
    width: 95px;
    border: 1px solid #dfdfdf;
    background: #fff;
}
.mymenu .couwrap_off {
    background: url(/smartcan/assets/images/index/mycou_bg2.png) no-repeat;
    height: 108px;
    text-align: center;
}
.couwrap_off p {
    padding: 14px 0px 4px;
    font-size: 11px;
    color: #666;
    line-height: 16px;
}
.btn_log {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    border: none;
    font-family:NanumBarunGothic !important;
    text-align: center;
    cursor: pointer;
    color: #fff;
    background: #397ca8;
    padding: 6px 16px;
}


.myarea_wrap {
	z-index: 100;
	left: 50%;
	
	}
.my_lst {
    overflow: hidden;
}
a.my_m0 {
    background-position: 50% -308px;
    background: url(/smartcan/assets/images/index/Rotten.png) no-repeat;
        margin: 20px;
}

a.my_m1 {
    background-position: 50% 14px;
    background: url(/smartcan/assets/images/index/sakura.png) no-repeat;
     margin: 20px;
}
a.my_m2 {
    background-position: 50% -55px;
    background: url(/smartcan/assets/images/index/ice.png) no-repeat;
    margin: 20px;
}
a.my_m3{
	 background: url(/smartcan/assets/images/index/rainbow.png) no-repeat;
    margin: 17px;
}
a.my_m4{
	background: url(/smartcan/assets/images/index/Cheese-50.png) no-repeat;
    margin: 19px;
}
a {color:#333; text-decoration:none;}
		.container_index {margin: 0 auto; width: 990px; text-align: center;}

        .markey_list_sub{margin-left:13px;}

		.market_list {clear:both; overflow: hidden; margin: 0px 0 8px; padding-left: 0px;}
		.market_list li{float:left;width:135px;border-right:1px solid #dfdfdf;border-bottom:1px solid #dfdfdf;}
		.market_list li+li{width:136px}
		.market_list li a{width:100%;display:inline-block;padding:15px 0 13px;border-top:4px solid #dfdfdf;text-align:center;font-size:16px;color:#666;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
		.market_list li:first-child{border-left:1px solid #dfdfdf;}
		.market_list li a.sty01{padding:23px 0 24px;}
		.market_list li a:hover,
		.market_list li a.on{background:url("/gs25/assets/images/index/tab_bg_arr.png") 50% 0 no-repeat;color:#397ca8;border-top:4px solid #397ca8;font-weight:bold;}
		.market_list_area{clear:both; overflow: hidden; margin: 0px 0 8px; padding-left: 0px;}
		.market_list_point{clear:both; overflow: hidden; margin: 0px 0 8px; padding-left: 0px;}	

		.line_dfdfdf {background-color: #397ca8 ; height: 4px; margin-bottom: 8px;}
.my_lst a {
    display: block;
    padding-top: 33px;
    line-height: 38px;
    text-align: center;
    font-size: 11px;
    color: #666;
}
.myarea_wrap .menuwrap {
    overflow: hidden;
    background: #fff;
}
.myarea_wrap .menu_tit {
    background: #666;
    font-size: 11px;
    text-align: center;
    color: #fff;
    padding: 10px 0px;
}

.myarea_wrap .top {
	display: block;
	background: #fff;
	border: 1px solid #999999;
	text-align: center;
	font-weight: bold;
	color: #222;
	margin-top: 5px;
	padding: 8px 0px 7px;
}